---
name: Release

"on":
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: google-github-actions/release-please-action@v3
        id: release
        with:
          package-name: ${{ github.repository }}
          release-type: simple
          version-file: blank.yml
          extra-files: action.yml

      - name: Get the tag version
        id: get_tag
        run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
        if: ${{ steps.release.outputs.release_created }}

      - name: Code checkout
        uses: actions/checkout@v3
        if: ${{ steps.release.outputs.release_created }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        if: ${{ steps.release.outputs.release_created }}
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
        if: ${{ steps.release.outputs.release_created }}

      - name: Setup buildx
        uses: docker/setup-buildx-action@v2
        if: ${{ steps.release.outputs.release_created }}
        with:
          install: true

      - name: Build and push
        uses: docker/build-push-action@v3
        if: ${{ steps.release.outputs.release_created }}
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ghcr.io/${{ github.repository }}:${{ steps.get_tag.outputs.VERSION }}
            ghcr.io/${{ github.repository }}:latest
